div {
 
    text-align: left;
    
  }
  
  .flex-container {
    display: flex;
    
}

.flex-child1 {
  width: 33%;
 margin-top: 33%;
  margin-left:8%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

}  
.flex-child {
  margin-top: 38%;
  margin-left: 0%;
  width: 33%;
 
}  
.flex-child2 {
  width: 33%;
  margin-top: 20%;
  margin-left: -26%;
} 


  #matrix {
    
    margin: 0 auto;
    padding: 0.15px;
    margin: 16% 70%;
  }
  
  #matrix tr, td {
    padding: 0.15px;
  }
  
  #matrix button {
    background-color:transparent;
    height: 40px;
    width: 50px;
    border: none;
    font-family: helvetica;
    font-weight: bold;
  }
  
  